a {
  text-decoration: none; }
  a:link {
    color: #0E92B5;
    font-weight: 100; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

nav {
  margin: 0;
  padding: 0; }

#mainWrapper {
  background-color: pink;
  width: 100%; }
  #mainWrapper #search1 {
    background-color: orange;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #E1E3DF;
    margin: 0; }
    #mainWrapper #search1 #search1A {
      background-color: blue;
      display: inline-block;
      width: 49%;
      margin: 0; }
      #mainWrapper #search1 #search1A #etsyLogo {
        display: inline-block;
        color: #F56400; }
      #mainWrapper #search1 #search1A #whiskeySearch {
        display: inline-block;
        background-color: white;
        border: 1px solid #B2B2B2;
        padding: 8px 60px;
        margin: 0px; }
      #mainWrapper #search1 #search1A #whiskeySearchBtn {
        display: inline-block;
        background-color: #34A8C4;
        color: white;
        padding: 8px 20px;
        border-radius: 3px;
        margin: 0px; }
    #mainWrapper #search1 #search1B {
      display: inline-block;
      width: 45%;
      margin: 10px 0;
      background-color: purple; }
      #mainWrapper #search1 #search1B #sellOnEtsy {
        display: inline-block;
        color: #0E92B5; }
      #mainWrapper #search1 #search1B #register {
        display: inline-block;
        color: #0E92B5; }
      #mainWrapper #search1 #search1B #signIn {
        display: inline-block;
        color: #0E92B5;
        background-color: white;
        color: #0E92B5;
        border: 1px solid #0E92B5;
        padding: 8px;
        border-radius: 3px; }
      #mainWrapper #search1 #search1B #cart {
        display: inline-block;
        margin: 0 0 0 30px;
        font-size: 15px; }
  #mainWrapper #search2 {
    background-color: green;
    margin: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #E1E3DF; }
    #mainWrapper #search2 ul li {
      float: left;
      padding: 15px;
      color: #888888; }
  #mainWrapper #contentWrapper {
    background-color: grey;
    width: 90%;
    margin: 0 auto; }
    #mainWrapper #contentWrapper .aside {
      background-color: blue;
      width: 25%;
      height: 700px;
      margin: 0;
      padding: 0;
      float: left; }
      #mainWrapper #contentWrapper .aside #allCat {
        background-color: red; }
        #mainWrapper #contentWrapper .aside #allCat ul {
          line-height: 25px; }
      #mainWrapper #contentWrapper .aside #refineSearch {
        background-color: purple; }
        #mainWrapper #contentWrapper .aside #refineSearch ul li {
          display: inline-block; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li .filterBox {
            display: inline-block;
            width: 20px;
            height: 20px; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #red {
            background-color: red; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #orange {
            background-color: orange; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #yellow {
            background-color: yellow; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #green {
            background-color: green; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #blue {
            background-color: blue; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #purple {
            background-color: purple; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #black {
            background-color: black; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #white {
            background-color: white; }
    #mainWrapper #contentWrapper #mainContent {
      background-color: orange;
      width: 70%;
      margin: 0;
      display: inline-block; }
      #mainWrapper #contentWrapper #mainContent .liveDataContainer {
        margin: 0 auto;
        width: 33%;
        height: 250px;
        background-color: yellow;
        float: left; }
        #mainWrapper #contentWrapper #mainContent .liveDataContainer .liveTitleContainer {
          height: 40px;
          overflow: hidden;
          font-size: 12px; }
        #mainWrapper #contentWrapper #mainContent .liveDataContainer .livePriceContainer {
          height: 30px;
          font-size: 12px; }
  #mainWrapper footer {
    background-color: yellow;
    width: 100%;
    height: 200px; }
    #mainWrapper footer #relatedWhiskey {
      background-color: red; }
      #mainWrapper footer #relatedWhiskey #relatedWhiskeyList1 {
        float: left; }
      #mainWrapper footer #relatedWhiskey #relatedWhiskeyList2 {
        float: left; }
      #mainWrapper footer #relatedWhiskey #relatedWhiskeyList3 {
        float: left; }
    #mainWrapper footer #lookingShops {
      background-color: green;
      clear: both; }
    #mainWrapper footer #numBtnWrapper ul li {
      display: inline-block; }
    #mainWrapper footer #numBtnWrapper button {
      background-color: grey; }
