a {
  text-decoration: none; }
  a:link {
    color: #0E92B5;
    font-weight: 100; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

nav {
  margin: 0;
  padding: 0; }

#mainWrapper {
  background-color: pink;
  width: 100%; }
  #mainWrapper #search1 {
    background-color: orange;
    width: 100%;
    border-bottom: 1px solid #E1E3DF;
    margin: 0;
    height: 70px; }
    #mainWrapper #search1 #search1A {
      background-color: blue;
      float: left;
      width: 55%;
      height: 70px;
      margin: 0; }
      #mainWrapper #search1 #search1A #etsyLogo {
        float: left;
        color: #F56400;
        margin: 2% 5% 0 14%;
        font-size: 1.5em;
        font-weight: 100;
        font-family: helvetica; }
        #mainWrapper #search1 #search1A #etsyLogo h2 {
          background-color: yellow; }
      #mainWrapper #search1 #search1A #searchInputWrapper {
        background-color: white;
        width: 45%;
        float: left;
        margin: 3% 0 0 0;
        border: 1px solid #B2B2B2;
        border-radius: 3px; }
        #mainWrapper #search1 #search1A #searchInputWrapper #whiskeySearch {
          float: left;
          background-color: white;
          padding: 1% 0;
          width: 75%;
          margin: 0%; }
          #mainWrapper #search1 #search1A #searchInputWrapper #whiskeySearch h2 {
            background-color: pink;
            font-size: 1em;
            padding: 2% 0 1% 3%; }
        #mainWrapper #search1 #search1A #searchInputWrapper #whiskeySearchBtn {
          float: right;
          background-color: #34A8C4;
          color: white;
          padding: 2.4% 3%; }
    #mainWrapper #search1 #search1B {
      float: left;
      width: 40%;
      margin: 0;
      padding: 0 0 0 0;
      height: 70px;
      background-color: purple; }
      #mainWrapper #search1 #search1B #sellOnEtsy {
        float: left;
        color: #0E92B5;
        margin: 2% 2% 0 0;
        background-color: grey;
        padding: 2% 0; }
        #mainWrapper #search1 #search1B #sellOnEtsy a {
          background-color: yellow; }
      #mainWrapper #search1 #search1B #register {
        float: left;
        color: #0E92B5;
        margin: 2% 2% 0 0;
        background-color: red;
        padding: 2% 0; }
        #mainWrapper #search1 #search1B #register a {
          background-color: pink; }
      #mainWrapper #search1 #search1B #signIn {
        float: left;
        color: #0E92B5;
        background-color: white;
        color: #0E92B5;
        border: 1px solid #0E92B5;
        padding: 1.3% 2%;
        border-radius: 3px;
        margin: 2% 0 0 0; }
        #mainWrapper #search1 #search1B #signIn a {
          background-color: orange; }
      #mainWrapper #search1 #search1B #cart {
        border-left: 1px solid #0E92B5;
        float: left;
        margin: 0 0 0 5%;
        padding: 2% 0 0 0;
        background-color: orange; }
        #mainWrapper #search1 #search1B #cart img {
          width: 70%; }
        #mainWrapper #search1 #search1B #cart h4 {
          padding: 4% 0 0 0;
          font-size: .8em;
          margin: 0;
          background-color: yellow; }
  #mainWrapper #search2 {
    background-color: green;
    margin: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #E1E3DF; }
    #mainWrapper #search2 ul {
      margin: 0; }
    #mainWrapper #search2 ul li {
      float: left;
      padding: 15px;
      color: #888888; }
  #mainWrapper #contentWrapper {
    background-color: grey;
    width: 90%;
    margin: 3% 1%; }
    #mainWrapper #contentWrapper .aside {
      background-color: blue;
      width: 25%;
      margin: 0;
      padding: 0;
      float: left; }
      #mainWrapper #contentWrapper .aside #allCat {
        background-color: red; }
        #mainWrapper #contentWrapper .aside #allCat ul {
          line-height: 25px; }
      #mainWrapper #contentWrapper .aside #refineSearch {
        background-color: purple; }
        #mainWrapper #contentWrapper .aside #refineSearch ul li {
          display: inline-block; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li .filterBox {
            display: inline-block;
            width: 20px;
            height: 20px; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #red {
            background-color: red; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #orange {
            background-color: orange; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #yellow {
            background-color: yellow; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #green {
            background-color: green; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #blue {
            background-color: blue; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #purple {
            background-color: purple; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #black {
            background-color: black; }
          #mainWrapper #contentWrapper .aside #refineSearch ul li #white {
            background-color: white; }
    #mainWrapper #contentWrapper #mainContent {
      background-color: orange;
      width: 65%;
      margin: 0;
      display: inline-block; }
      #mainWrapper #contentWrapper #mainContent .liveDataContainer {
        margin: 0 auto;
        width: 33%;
        background-color: yellow;
        float: left; }
        #mainWrapper #contentWrapper #mainContent .liveDataContainer .liveTitleContainer {
          height: 40px;
          overflow: hidden;
          font-size: 12px; }
        #mainWrapper #contentWrapper #mainContent .liveDataContainer .livePriceContainer {
          height: 30px;
          font-size: 12px; }
  #mainWrapper footer {
    background-color: yellow;
    width: 100%; }
    #mainWrapper footer #relatedWhiskey {
      background-color: red; }
      #mainWrapper footer #relatedWhiskey #relatedWhiskeyList1 {
        float: left; }
      #mainWrapper footer #relatedWhiskey #relatedWhiskeyList2 {
        float: left; }
      #mainWrapper footer #relatedWhiskey #relatedWhiskeyList3 {
        float: left; }
    #mainWrapper footer #lookingShops {
      background-color: green;
      clear: both; }
    #mainWrapper footer #numBtnWrapper ul li {
      display: inline-block; }
    #mainWrapper footer #numBtnWrapper button {
      background-color: grey; }
